<!DOCTYPE html>
<html style="height: 100%">
<head>
	<meta charset="utf-8">
    <title>Room</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/scale.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body style="height: 100%">
<!-- CHANGE WIDTH AND HEIGHT TO CSS -->
<div class="my-container">
	<div><h1 style="margin-left: 50%;">THEME</h1></div>
    <form>
		<div class="tools" style="margin-left: 5%;">
			
			<a href="#simple_sketch" data-color="#fff" style="width: 100px;"> <button type="button" class="btn btn-default" style="background: #fff;"></button> </a>
			<a href="#simple_sketch" data-color="#000" style="width: 100px;"> <button type="button" class="btn btn-default" style="background: #000;"></button> </a>
			<a href="#simple_sketch" data-color="#f00" style="width: 100px;"> <button type="button" class="btn btn-default" style="background: #f00;"></button> </a>
			<a href="#simple_sketch" data-color="orange" style="width: 100px;"> <button type="button" class="btn btn-default" style="background: orange;"></button> </a>
			<a href="#simple_sketch" data-color="#ff0" style="width: 100px;"> <button type="button" class="btn btn-default" style="background: #ff0;"></button> </a>
			<a href="#simple_sketch" data-color="#e6e600" style="width: 100px;"> <button type="button" class="btn btn-default" style="background: #e6e600;"></button> </a>
			<a href="#simple_sketch" data-color="#009900" style="width: 100px;"> <button type="button" class="btn btn-default" style="background: #009900;"></button> </a>
			<a href="#simple_sketch" data-color="#09f000" style="width: 100px;"> <button type="button" class="btn btn-default" style="background: #09f000;"></button> </a>
			<a href="#simple_sketch" data-color="#d2ff4d" style="width: 100px;"> <button type="button" class="btn btn-default" style="background: #d2ff4d;"></button> </a>
			<a href="#simple_sketch" data-color="#b3ecff" style="width: 100px;"> <button type="button" class="btn btn-default" style="background: #b3ecff;"></button> </a>
			<a href="#simple_sketch" data-color="#33ccff" style="width: 100px;"> <button type="button" class="btn btn-default" style="background: #33ccff;"></button> </a>
			<a href="#simple_sketch" data-color="#007399" style="width: 100px;"> <button type="button" class="btn btn-default" style="background: #007399;"></button> </a>
			<a href="#simple_sketch" data-color="#00f" style="width: 100px;"> <button type="button" class="btn btn-default" style="background: #00f;"></button> </a>
			<a href="#simple_sketch" data-color="#000080" style="width: 100px;"> <button type="button" class="btn btn-default" style="background: #000080;"></button> </a>
			<a href="#simple_sketch" data-color="purple" style="width: 100px;"> <button type="button" class="btn btn-default" style="background: purple;"></button> </a>
			<a href="#simple_sketch" data-color="#f0f" style="width: 100px;"> <button type="button" class="btn btn-default" style="background: #f0f;"></button> </a>
			<a href="#simple_sketch" data-color="pink" style="width: 100px;"> <button type="button" class="btn btn-default" style="background: pink;"></button> </a>
		</div>
		
		<div style="text-align:center;width: 1000px;margin-left: 5%;display: inline-block;">
			<canvas id="simple_sketch" height="600" style="border: solid black" width="1000"></canvas>
		</div>
		
        <div id="side_menu" style="float: right; height: 50%; width: 30%">
            <ul class="list-group">
                <li class="list-group-item">
					<img src="nophoto.png" style="width:10%;height:10%;">
                    <span class="badge">0 points</span>
                    {{ first user }}
                </li>
				<li class="list-group-item">
					<img src="nophoto.png" style="width:10%;height:10%;">
					<span class="badge">0 points</span>
					{{ second user }}
				</li>
				<li class="list-group-item">
					<img src="nophoto.png" style="width:10%;height:10%;">
					<span class="badge">0 points</span>
					{{ third user }}
				</li>
            </ul>
        </div>
	
		<style>
			.button{
				background-color: #4CAF50; /* Green */
				border: none;
				color: white;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
			}
		</style>
		<div></div>
		<a href="#simple_sketch" data-download="png" <!--style="float: right;-->"><button type="sendPic" class="btn btn-info">Download picture</button></a>
        <form method="POST">
            {% csrf_token %} 
			<button type="button" class="btn btn-success">Send picture</button>
        </form>
		
		
		<script type="text/javascript" src="main.js"></script>
    </form>
</div>

</body>
</html>
