html, body {
    height: 100%;
    width: 100%;
}

#side_menu {
    height: 100%;
    width: 20%;
    float: right;
}

.sktech {
    float: left;
    height: 100%;
    width: 80%;
    border: solid;
}